@(title: String, user: User)(content: Html)

<!DOCTYPE html>
@minified=@{ if (play.Play.isProd()) ".min" else "" }

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main" + minified + ".css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main" + minified + ".js")"></script>
    </head>
    <body>
        <header>
            <dl id="user">
                <dt>@user.firstName @user.lastName <span>(@user.email)</span></dt>
                <dd>
                    <a href="@routes.Credential.logout()">Logout</a>
                </dd>
            </dl>
        </header>
        <div class="container">
            @content
        </div>
    </body>
</html>
